@import 'tailwindcss';
@source "../../../../packages/ui";

@layer base {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a0a0a;
    color: white;
  }
}

.drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
